html, body {
    margin: 0;
    padding: 0;
    font: 16px Courier New;
    /* font-size: 18px; */
    color : #fff; 
    
}

a {
    color : #fff; 
    text-decoration : none;
    text-decoration: underline;
}

body {
    background : #373737;
    padding : 16px;
}

canvas {
    border: 2px solid #fff; 
    image-rendering: pixelated; 
    image-rendering: crisp-edges; 
    width:640px;
}